/*styling the header*/
.header-section{
    display:flex; /*The Magic Line*/
    justify-content:space-between; /*Pushes item to opposite ends*/
    align-items:center; /*Centers items vertically*/
    padding:10px 10px;
    background-color: #a460c4;
    color:white;
}

/*styling the main content*/
.main-content{
    background-color: #f4f4f4;
    padding: 50px;
    min-height: 200px; /*Gives the middle section soe height*/
}

/*style the footer*/
.footer-section{
    background-color: #984e95;
    color: #888;
    padding: 10px;
    text-align:center;
    font-size:12px;
}

.main-content{
    background-color:#ffff;
    padding: 40px; /*space inside*/
    margin: 20px auto; /*space outside;'auto'centers the box*/
    width: 80px; /*make the box narrower than the screen*/
    border-radius: 10px;
}

.cta-button{
    background-color: #ff4757;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s; /*makes the change smmoth,not instant*/
}

.cta-button:hover{
    background-color: #333 #ff6b81;
    transform: translate(-3px); /*lifts the up slightly*/
    box-shadow: 0 5px rgba(0,0,0,0,2);
}